<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="UTF-8" />
		<title>Data Visualization Final</title>
	  <!-- LINK TO STYLESHEET -->
    <!-- NOTE: You *could* use in-page <style> tags, for your charts
         but it may be easier to simply add them to the stylesheet
         provided here. -->
		<link href="style.css" rel="stylesheet" />
  </head>

  <body>

    <header>
      <h1>Your Project Title!</h1>
      <p>Your Name!</p>
    </header>

    <main> <!-- BEGIN MAIN -->

      <!-- ALL YOUR CONTENT GOES IN <main>! -->

      <!-- Consider placing your charts (and related text) in
           <section>s as shown below. You may even want to
           include an id on each section so when you build the
           charts, you can isolate the section you want the
           chart to appear in. -->

      <section id="chart-a">
        <h2>Headings! (If you need them.)</h2>

        <p>Paragraphs!</p>

        <!-- YOUR CHART! -->
      </section>

    </main> <!-- END MAIN -->

    <!-- SCRIPTS! -->
  </body>
</html>
